<!DOCTYPE html>
<html lang="vi" data-theme="light">
 <partial name="~/Views/Shared/partials/_Head.cshtml" />
    <body>
       <partial name="~/Views/Shared/partials/_Navbar.cshtml" />
       @RenderBody()
    </body>
</html>