@{
}
<div class="row align-items-center justify-content-between" >
 <div class="col-auto">
     <form>
         <input  type="text" name="search" placeholder="Search" />

     </form>

 </div>
 <div class="dropdown">
     <button class="d-flex justify-content-center align-items-center rounded-circle" type="button" data-bs-togle="dropdown"  >
         <img />
     </button>

 </div>
</div>